.container {
  padding: 30px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;  
  align-items: center;
  gap: 30px;
  padding-top: 0;
  height: 100vh;
}

.heading {
  font-weight: 500;
  font-size: 2.1rem;
  text-align: center;
}

.colors {
  display: flex;
  gap: 20px;
  padding: 0 30px;
}
.main {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* gap: 30px; */
  width: 100%;
  height: 100%; 
  /* /* overflow: hidden;  */
}
.leftside {
  flex: 1; 
  height: auto; 
  /* /* overflow-y: auto; 
  padding-left: 10px; 
  width: 40%; */
}

.rightside {
  width: 60%;
  flex: 1; 
  overflow-x: auto; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 10px; 
  position: fixed;

}
